body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: column; /* Alterado para space-between */
    align-items: center;
    width: 70%; /* Ajuste a largura conforme necessário */
  }
  
  .info, .tabuleiro {
    margin: 10px; /* Adicionado espaçamento entre os elementos */
  }
  
  .tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .celula {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  #tabuleiro-jogador {
    border: 2px solid blue;
  }
  
  #tabuleiro-oponente {
    border: 2px solid red;
  }
  
  .pontuacao {
    margin: 0;
  }
  
  .titulo {
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 350px;
  }

  .pontuacao-fileira {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
  }