.jogador {
    float: left;
    margin-right: 20px;
}

#oponente {
    float: right;
    margin-left: 20px;
}

.tabuleiro {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    text-align: center;
}

.coluna {
    display: inline-block;
}

.quadrado {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    margin: 5px; 
    box-sizing: border-box; 
}

#rodarDado{
    margin-top: 20px;
    
}
